<% content_for :navigation do %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Log in', '/login' %></li>
    </ul>
<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Sign up</h1>
    <div class="well">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>

