<div class="row">
  <div class="col-md-12">
    <% @projects.each do |project| %>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= project.name %> </h3>
        </div>
        <div class="panel-body">
          <%= project.description %>
        </div>
        <div class="panel-footer">
          <%= link_to '>>', project , class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>