<div class="col-md-12">
  <div class="col-md-4">
    <div>
      <h3>Issues</h3>
      <div class="list-group">
        <% @project.issues.each do |issue| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">
                <% issue.name %></h4>
              <p class="list-group-item-text">
                <% issue.description %></p>
            </a>
        <% end %>
      </div>
    </div>
    <div>
      <h3>Sprints</h3>
      <div class="list-group">
        <% @project.sprints.each do |sprint| %>
            <a href="#" class="list-group-item">
              <% sprint.name %>
            </a>
        <% end %>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <% if @issue == nil %>
          <h2>Select an issue</h2>
      <% else %>
          <h2><% @issue.name %></h2>
      <% end %>
    </div>
  </div>
</div>